@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
/* font-family: 'Berkshire Swash', cursive; */
/* font-family: 'Manrope', sans-serif; */
* {
  font-family: "Manrope", sans-serif;
}

header {
  height: 70vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 50%;
}

.heading h1 {
  font-size: 50px;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}

.heading p {
  text-align: center;
  color: white;
}

main {
  background-color: #151515;
}

.selected-players {
  line-height: 55px;
}

input {
  width: 121px;
  height: 40px;
  padding: 8px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.total {
  color: #ff5e19;
}

.btn-primary {
  background-color: #015196 !important;
}

.disabled {
  background-color: #a2a9af !important;
  border-color: #a2a9af !important;
  pointer-events: none;
}

footer {
  border-top: 1px solid gray;
  background-color: #151515;
  height: 25vh;
  color: white;
}
